<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bootcal.mapper.CalendarMapper">
	<resultMap id="linkedGetDate" type="kr.co.bootcal.domain.CalendarVO">
		<id property="c_time" column="c_time"/>
		<result property="c_no" column="c_no"/>
		<result property="c_date" column="c_date"/>
		<result property="m_id" column="m_id"/>
		<result property="g_name" column="g_name"/>
		<result property="c_title" column="c_title"/>
		<result property="c_content" column="c_content"/>
		<result property="c_link" column="c_link"/>
	</resultMap>
	<select id="getDate" resultMap="linkedGetDate">
		select * from calendar
		where c_date = #{c_date} and g_name = #{g_name} ORDER BY c_time asc
	</select>
	<select id="getMyDate" resultMap="linkedGetDate">
		select * from calendar
		where c_date = #{c_date} and g_name = #{g_name} and m_id = #{m_id} ORDER BY c_time asc
	</select>
	<select id="getCalByC_no" resultType="kr.co.bootcal.domain.CalendarVO">
		select * from calendar
		where c_no = #{c_no}
	</select>
	<select id="getMonth" resultType="kr.co.bootcal.domain.CalendarVO">
		<![CDATA[
        SELECT *
        FROM calendar
        WHERE MONTH(c_date) = #{c_month} and YEAR(c_date) = #{c_year} and g_name = #{g_name};
    	]]>
	</select>
	<select id="getMyMonth" resultType="kr.co.bootcal.domain.CalendarVO">
		<![CDATA[
		SELECT *
		FROM calendar
		WHERE MONTH(c_date) = #{c_month} and YEAR(c_date) = #{c_year} and g_name = #{g_name} and m_id = #{m_id};
		]]>
	</select>

	<insert id="insertCal">
		insert into calendar(c_date, c_time, m_id, g_name, c_title, c_content) value(#{c_date}, #{c_time}, #{m_id}, #{g_name}, #{c_title}, #{c_content})
	</insert>
	<delete id="deleteCal">
		delete from calendar where c_no = #{c_no}
	</delete>
	<update id="updateCal">
		update calendar set c_time = #{c_time}, c_title = #{c_title}, c_content = #{c_content} where c_no = #{c_no}
	</update>
</mapper>