<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.bootcal.mapper.MemberMapper">
	<select id="getList" resultType="kr.co.bootcal.domain.MemberVO">
		select * from member where m_grade not like 3 and m_public = 0;
	</select>
	<select id="getListByAdmin" resultType="kr.co.bootcal.domain.MemberVO">
		select * from member;
	</select>
	<select id="getGroupMember" resultType="kr.co.bootcal.domain.MemberVO">
		SELECT member.* FROM member JOIN mgroup ON member.m_id = mgroup.m_id WHERE mgroup.g_name = #{g_name}
	</select>
	<select id="searchName" resultType="kr.co.bootcal.domain.MemberVO">
		select * from member where m_name like CONCAT('%', #{m_name}, '%') ORDER BY m_name asc
	</select>
	<select id="selectOne" resultType="kr.co.bootcal.domain.MemberVO">
		select * from member where m_id = #{m_id}
	</select>
	<select id="getMyGroup" resultType="kr.co.bootcal.domain.MgroupVO">
		select * from mgroup where m_id = #{m_id} AND g_name NOT LIKE '내 캘린더'
	</select>
	<insert id="insert">
		insert into member(m_id, m_pw, m_name, m_email, m_public) 
		values(#{m_id}, #{m_pw}, #{m_name}, #{m_email}, #{m_public});
	</insert>
	<delete id="delete">
		delete from member where m_id = #{m_id}
	</delete>
	<update id="update">
		update member set m_pw = #{m_pw}, m_name = #{m_name}, m_email = #{m_email}, m_public = #{m_public} where m_id = #{m_id}
	</update>
	
	
</mapper>